<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoho Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/loader.css">
    <link rel="stylesheet" href="../assets/css/toast.css">
    <link rel="stylesheet" href="../assets/css/cart.css">
    <link rel="stylesheet" href="../assets/css/alert.css">
    <link rel="stylesheet" href="../assets/css/badge.css">
</head>


<body>
    <div id="loading-wrapper" hidden>
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>
    <div class="alert" hidden id="alert">
        <div class="alert-content-container">
            <div class="alert-content">
                <form method="post" id="rating">
                    <div class="alert-text">
                        <p>Please rate the Restaurant</p>
                        <div class="numberCon">
                            <div class="number" id="number-1" onclick="clicked(1)">1</div>
                            <div class="number" id="number-2" onclick="clicked(2)">2</div>
                            <div class="number" id="number-3" onclick="clicked(3)">3</div>
                            <div class="number" id="number-4" onclick="clicked(4)">4</div>
                            <div class="number" id="number-5" onclick="clicked(5)">5</div>
                        </div>
                        <p>And your valuable reviews will help other users and restaurants</p>
                        <input type="text" id="rating1" name="rating" value="" hidden>
                        <input type="text" id="resId" name="resId" value="" hidden>
                        <textarea name="review" id="review" cols="55" rows="4"
                            placeholder="Your valuable reviews"></textarea>
                    </div>
                    <div class="alert-button">
                        <button type="button" class="alert-button-text" onclick="postReview()">Post</button>
                        <button type="button" class="alert-button-text-cancel" onclick="closeAlert()">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="orderSuccess" id="orderSuccess">
        <div class="orderCon">
            <div class="imgCon">
                <lord-icon src="https://cdn.lordicon.com/hjeefwhm.json" trigger="loop" colors="primary:#ffffff"
                    delay="1000" style="width:100px;height:100px;">
                </lord-icon>
            </div>
            <div class="successText">Order Successful</div>
            <div class="successDesc">Your order has been placed successfully. We will contact you shortly.</div>
            <div id="btnCenter"> <button onclick="review()" id="successBtn" type="button">Continue</button></div>
        </div>
    </div>
    <div class="navbar">
        <div class="logo">
            <a href="../">
                <img src="../assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="navContent">
            <a href="./restaurant.html" class="navConText">Restaurants</a>
            <a href="./orders.html" class="navConText">Orders</a>
            <a href="" class="navConText">
                <div class="navCart">
                    <div class="navCart-icon">
                        <img src="../assets/images/cart.png" alt="">
                    </div>
                    <div class="navCart-badge"><span id="cartNo">0</span></div>
                </div>
            </a>
            <div class="profilePic" id="profilePic">
                <div class="imgCon" id="imgConProfile"></div>
                <div class="dropDown" id="dropDown">
                    <a href="./account.html" class="navConText1">Account</a>
                    <div class="navConText1" onclick="logout()">Logout</div>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyCart" id="emptyCart" hidden>
        <div class="imgCon"><img src="../assets/images/empty-box.png" alt=""></div>
        <div id="text">Looks like nothing in the cart, its just take a minute to take away your favorite</div>
        <a href="./restaurant.html">
            <div id="btnCenter"> <button id="emptyBtn">Take Me</button></div>
        </a>

    </div>
    <div class="cart" id="cart">
        <div class="cartItems" id="cartItems">
        </div>
        <div class="total">
            <div class="resDetails">
                <div class="imgCon"><img src="../assets/images/res.jpg" alt=""></div>
                <div class="resDetails1">
                    <div id="billResName" class="resName">Restaurant Name</div>
                    <div id="billResAdd" class="resAddress">Address</div>
                    <div id="billResType" class="resType">asdf</div>
                </div>
            </div>
            <div id="text">Bill details</div>
            <hr>
            <div id="itemTot">
                <div id="txt">Item Total</div>
                <div id="totrate">0</div>
            </div>
            <div id="itemTot">
                <div id="txt">Delivery Fee</div>
                <div id="deliveryFee">0</div>
            </div>
            <div id="itemTot">
                <div id="txt">Gst and charges</div>
                <div id="gst">0</div>
            </div>
            <hr id="tot">
            <div id="tot1">
                <div id="txt">Grand Total</div>
                <div id="Grate">0</div>
            </div>
            <button id="placeOrder" class="btnPlaceOrder">Place order</button>
            <div id="totSave">
                <div id="txt">Total save</div>
                <div id="totSave1">0pih</div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../assets/js/alert.js"></script>
<script src="../assets/js/cart.js"></script>
<script src="../assets/js/toast.js"></script>
<script src="../assets/js/validation/user.js"></script>
<script src="../assets/js/userLogout.js"></script>
<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>