<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zoho Food</title>
	<link rel="stylesheet" href="../assets/css/navbar.css">
	<link rel="stylesheet" href="../assets/css/restaurantCard.css">
	<link rel="stylesheet" href="../assets/css/restaurantFood.css">
	<link rel="stylesheet" href="../assets/css/foodCard.css">
	<link rel="stylesheet" href="../assets/css/loader.css">
	<link rel="stylesheet" href="../assets/css/toast.css">
	<link rel="stylesheet" href="../assets/css/alert.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
	<div id="loading-wrapper" hidden>
		<div id="loading-text">LOADING</div>
		<div id="loading-content"></div>
	</div>
	<div class="alert" hidden id="alert">
		<div class="alert-content-container">
			<div class="alert-content">
				<div class="alert-text">
					<p id="alertText"></p>
				</div>
				<div class="alert-button">
					<button class="alert-button-text" onclick="clearCart()">Clear</button>
					<button class="alert-button-text-cancel" onclick="closeAlert()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar">
		<div class="logo">
			<a href="../">
				<img src="../assets/images/logo.png" alt="">
			</a>
		</div>
		<div class="navContent">
			<a href="./restaurant.html" class="navConText">Restaurants</a>
			<a href="./orders.html" class="navConText">Orders</a>
			<a href="./cart.html" class="navConText">Cart(<span id="cartNo">0</span>)</a>
			<a href="" class="navConText">Account</a>
			<div class="navConText" onclick="logout()">Logout</div>
		</div>
	</div>
	<div class="resCard" id="resDet">
	</div>
	<div class="allFoods" id="allFoods">
		<div class="foods" id="renderFoods">

		</div>
	</div>
</body>

</html> 
<script src="../assets/js/alert.js"></script>
<script src="../assets/js/toast.js"></script>
<script src="../assets/js/restaurantFood.js"></script>
<script src="../assets/js/validation/user.js"></script>
<script src="../assets/js/userLogout.js"></script>