<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="../assets/css/navbar.css">
	<link rel="stylesheet" href="../assets/css/signup.css">
	<link rel="stylesheet" href="../assets/css/toast.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
	<div class="navbar">
		<div class="logo">
			<a href="../">
				<img src="../assets/images/logo.png" alt="">
			</a>
		</div>
		<div class="navContent">
			<a href="" class="navConText">Restaurant Login</a>
			<a href="./login.html"><button class="btnnavbar">Login</button></a>
			<button class="btnnavbar">Signup</button>
		</div>
	</div>
	<div class="signupContainer">
		<div class="signup">
			<form method="post" id="registerForm">
				<div id="text">Signup</div>
				<input type="text" name="name" placeholder="Name" autocomplete="off" id="name" required>
				<input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
				<input type="number" name="phone" id="phone" placeholder="Mobile number" autocomplete="off" required>
				<input type="text" name="address" id="address" placeholder="Address" autocomplete="off" required>
				<input type="password" name="password" id="signupPassword" placeholder="Password" required>
				<input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password"
					onfocusout="passwordCheck()" required><br>
				<input type="file" name="file" id="file">
				<div id="err">
					<ul>
						<li><span><img src="../assets/images/remove.png" alt="" srcset="" id="errImg6"></span>Password
							must be atleast 6 characters</li>
					</ul>
				</div>
				<input type="button" value="signup" id="submit" onclick="registerUser()"><br>
				<a href="" id="forgetPass">Forget password?</a> <br>
				<div id="signup">Already have an account in Zoho Foods? <a href="./login.html" id="forgetPass">Login</a>
				</div>

			</form>
		</div>
	</div>

</body>

</html>

<script src="../assets/js/users.js"></script>
<script src="../assets/js/toast.js"></script>