<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoho Foods</title>
    <link rel="stylesheet" href="../../assets/css/navbar.css">
    <link rel="stylesheet" href="../../assets/css/review.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/rating.css">

</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="../../">
                <img src="../../assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="navContent">
            <a href="./food.html" class="navConText">Foods</a>
            <a href="./orders.html" class="navConText">Orders</a>
            <a href="./review.html" class="navConText">Review/Ratings</a>
            <div class="profilePic" id="profilePic">
                <div class="imgCon" id="imgConProfile"></div>
                <div class="dropDown" id="dropDown">
                    <a href="./account.html" class="navConText1">Account</a>
                    <div class="navConText1" onclick="logout()">Logout</div>
                </div>
            </div>
        </div>
    </div>

    <div class="reviewContainer" id="review">
        
    </div>
</body>

</html>
<script src="../../assets/js/validation/restaurant.js"></script>
<script src="../../assets/js/review.js"></script>
<script src="../../assets/js/logout.js"></script>

<script>
    $(document).ready(function() {
  // Gets the span width of the filled-ratings span
  // this will be the same for each rating
  var star_rating_width = $('.fill-ratings span').width();
  // Sets the container of the ratings to span width
  // thus the percentages in mobile will never be wrong
  $('.star-ratings').width(star_rating_width);
});
</script>