<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoho Foods</title>
    <link rel="stylesheet" href="../../assets/css/navbar.css">
    <link rel="stylesheet" href="../../assets/css/review.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="../../">
                <img src="../../assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="navContent">
            <a href="./food.html" class="navConText">Foods</a>
            <a href="./orders.html" class="navConText">Orders</a>
            <a href="./review.html" class="navConText">Review/Ratings</a>
            <a href="" class="navConText">Account</a>
            <div class="navConText" onclick="logout()">Logout</div>
        </div>
    </div>

    <div class="reviewContainer">
    <div class="reviewCard">

        <div id="ratingCon">
            <div class="imgCon"><img src="../../assets/images/star.png" alt=""></div>
            <div id="ratingText">5</div>
        </div>
        <div class="reviewCon">
            <div class="reviewText">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
<script src="../../assets/js/validation/restaurant.js"></script>
<script src="../../assets/js/logout.js"></script>