.foods{
    display: flex;
    flex-wrap: wrap;
    margin: 0 3%; 
}

.card{
    border: 2px solid #293241;
    max-width: 15%;
/*     width: fit-content; */
    /* background-color: white; */
    margin: 1%;
    border-radius: 10px;
    padding: 1%; 
  display:flex;
  flex-direction:column;

}

.card .imgContainer{
    width: 100%; 
    height: 175px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card .imgContainer img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out transform;
}

.card .imgContainer img:hover{
    transform: scale(1.1);
}

.card .foodDetails{ 
    padding: 5% 0 0 0;
}

.card .foodDetails #foodName{
    font-size: 30px;
}

.card .foodDetails #foodDesc{
    font-size: 15px;
    margin: 3% 0;
}

.card .foodDetails .rateContainer{
    display: flex;
    gap: 1%;
    align-items: center;

}
.card .foodDetails .rateContainer #time{
    color: green;
    font-size: 20px;

}

.card .foodDetails .rateContainer #dot{
    width: 20px;
    height: 20px; 
    margin: 0 2%;
}

.card .foodDetails .rateContainer #dot img{
    width: 100%;
    height: 100%;
}

.card .foodDetails .rateContainer #rate{
    font-size: 15px;
    color: red;
    text-decoration: line-through;
    
}

.card .foodDetails .rateContainer #netRate{
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.card #offer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: #EE6C4D; 
    border-radius: 5px;
    padding: 1% 0;
    font-size: 17px;
    color: white; 
    text-decoration: none;
    margin: 5% 0;
} 

.card #btnContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0;
    font-size: 20px;
    color: white; 
    text-decoration: none; 
    gap: 5%;
}

.card #btnContainer .btn1 , .btn2{
    font-family: 'Rubik', sans-serif;
    background-color: #3D5A80; 
    border-radius: 5px;
    padding: 3% 5% ; 
    font-size: 17px;
    color: white; 
    border: none;
    text-decoration: none;
    transition: 0.3s ease-in-out transform; 
    cursor: pointer;
    width: 50%;
}

.card .btnCancel {
    font-family: 'Rubik', sans-serif;
    background-color: #3D5A80; 
    border-radius: 5px;
    padding: 3% 5% ; 
    font-size: 17px;
    color: rgb(255, 255, 255); 
    border: none;
    text-decoration: none;
    transition: 0.3s ease-in-out transform; 
    cursor: pointer;
    width: 100%;
}


.card #btnContainer .btn1:hover , .btn2:hover{
    transform: scale(1.1); 
}

.value-button {
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #EE6C4D;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    color: white;
  }
  
  #increase {
    margin-left: -4px;
    color: white;
    border-radius: 0 8px 8px 0;
  }
  
  #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input.number {
    text-align: center;
    border: none;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .quantity{
    display: flex;
    align-items: center;
    justify-content: center; 
  }