.foodContainer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
/*   align-items: center; */
  padding: 2% 0 5% 0;
}

.addFoodCon{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodContainer .tabsContainer {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: center;
  margin: 0 0 5% 0;
}

.foodContainer .tabsContainer .tab {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding: .5% 2%;
  margin: 0.5% 2%;
  border-radius: 10px;
  background-color: #EE6C4D;
}


.foodContainer .addFood {
  width: fit-content;
  border-radius: 20px;
  background: url("../images/loginFood.jpg");
  background-size: cover;
  animation: 0.5s ease-in-out opacityAnimation;
  transition: 0.3s ease-in-out;
  background-position: center;
  min-width: 1000px;
}

.addCategory {
  width: fit-content;
  border-radius: 20px;
  background: url("../images/loginFood.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  animation: 0.5s ease-in-out opacityAnimation;
  background-position: center;
  min-width: 600px;
  height: 10%;
}


.foodContainer .addFood form {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  padding: 0 0 0 15%;
  margin: none;
  height: 10%;

}

.foodContainer .addCategory form {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  padding: 0 0 0 15%;
  margin: none;

}

.foodContainer .addFood input[type="text"],
input[type="time"],
input[type="password"],
input[type="number"],
input[type="email"],
select {
  width: 35%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  margin: 2% 2% 2% 0;
  padding: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  border: none;
}

.addCategory input[type="text"] {
  width: 60%;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  margin: 2% 2% 2% 0;
  padding: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  border: none;
}



.foodContainer .addFood input[type="radio"] {
  margin: 3% 1%;
}

.foodContainer .addFood input[type="file"] {
  width: 35%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  margin: 2% 2% 2% 0;
  padding: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  border: 2px solid white;
  background-color: white;
}

.foodContainer .addFood label {
  color: white;


}

.foodContainer .addFood #time {

  margin: 0% 23% 0% 0;
  padding: 10px;

}

.foodContainer .addFood #time1 {

  margin: 0% 18% 0% 0;
  padding: 10px;

}

.foodContainer .addFood #sep {
  border-right: 2px solid white;
  padding: 1% 2% 1% 0;
}

.foodContainer .addFood input:focus {
  outline: none;
  transition: 0.3s ease-in-out;
  border-bottom: 4px solid #EE6C4D;
}

.foodContainer .addFood #text {
  font-size: 35px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  width: fit-content;
  margin: none;
  padding: 5% 0;
  color: #ffffff;
}

.foodContainer .addCategory #text {
  font-size: 35px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  width: fit-content;
  margin: none;
  padding: 5% 0;
  color: #ffffff;
}

.foodContainer .addFood input[type=button] {
  border: none;
  background-color: #EE6C4D;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  /* min-width: 120px; */
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 5% 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.foodContainer .addFood input[type=submit]:hover {
  background-color: #293241;
}

.foodContainer .addCategory input[type=button] {
  border: none;
  background-color: #EE6C4D;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  /* min-width: 120px; */
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 5% 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.foodContainer .addCategory input[type=submit]:hover {
  background-color: #293241;
}

.foodContainer .addFood #forgetPass {
  font-size: 17px;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: underline;
}

.foodContainer .addFood #forgetPass:hover {
  /* font-size: 17px;  */
  color: #EE6C4D;
}


.foodContainer .addFood #addFood {
  font-size: 17px;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  padding: 3% 0;
}


.foodContainer .addFood #err {
  font-size: 20px;
  color: red;
  border: 2px solid transparent;
  /* background-color: #ffffff; */
  width: fit-content;
  font-family: 'Rubik', sans-serif;
  padding: 1%;
  border-radius: 10px;
}

#err ul li {
  color: #ffffff;
  list-style: none;
  line-height: 150%;
  margin-left: -10%;
  display: flex;
  align-items: center;
}

#err ul li span {
  height: 25px;
  width: 25px;
  margin: 2%;
}

#err ul li span img {
  height: 25px;
  width: 25px;
  transition: 0.3s ease-in-out;
}

 

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.categoryContainer {
  display: flex;
  display: none;
/*   width: 80%; */
}

.categoryContainer .allCategory {
  width: 40%; 
  scroll-behavior: smooth;
  height: 400px;
}

.tableCon {
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  margin: 0 5%;
  padding: 0 2% 0 5%;
}

table { 
  border-collapse: collapse;
  /* height: 400px; */
}

table tr:first-child {
  border-top: none;
  background: #EE6C4D;
  color: #fff;
}

table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

table th {
  display: none;
}

table td {
  display: block;
}

table td:first-child {
  margin-top: .5em;
}

table td:last-child {
  margin-bottom: .5em;
}

table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

table th,
table td {
  text-align: left;
}

table {
  color: #333;
  border-radius: 20px;
  overflow: hidden;
}

table tr {
  border-color: #bfbfbf;
}

table th,
table td {
  padding: .5em 1em;
}

@media screen and (max-width: 601px) {
  table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 600px) {
  table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }

  table td:before {
    display: none;
  }

  table th,
  table td {
    display: table-cell;
    padding: .25em .5em;
  }

  table th:first-child,
  table td:first-child {
    padding-left: 0;
  }

  table th:last-child,
  table td:last-child {
    padding-right: 0;
  }

  table th,
  table td {
    padding: 1em !important;
  }
}

.edit-btn {
  background-color: #293241;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  /* min-width: 120px; */
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 5% 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;

}

.delete-btn {
  background-color: #EE6C4D;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  /* min-width: 120px; */
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  margin: 0 0 5% 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;
}

#addFoodForm .imgCon{
  display:flex;
  justify-content:end;
  margin: 0 40%;
  width:fit-content;
  padding: 2%;
  background-color:#f1f1f1;
}

#addFoodForm .imgCon img{
  width: 300px;
  height:200px;  
  border:2px solid black;
  filter:brightness(50%);
}

#addFoodForm .imgCon .imgDelete{
  position:absolute;
  padding:0.5% 1%;
  border:none;
  margin:0.5%;
  background-color: #EE6C4D;
  color:white;
  border-radius:5px;
  font-size:18px;
  cursor:pointer;
  transition:0.3s ease-in-out;
  
}