@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    color: #000000;

}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    background-color: white;
    
    /* justify-content: space-around;    */
}

.navbar .logo {
    padding: 1% 0;
    margin: 0 5%;
    width: 50%;
}

.navbar .navContent {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;

}

.navbar .navContent .navConText {
    font-size: 20px;
    text-decoration: none;
    margin: 0 5%;
    color: #000000;
    transition: 0.3s ease-in-out transform;
    cursor: pointer;

}
.navbar .navContent .navConText1 {
    font-size: 20px;
    text-decoration: none;
    margin: 0 5%;
    color: #000000;
    transition: 0.3s ease-in-out transform;
    cursor: pointer;

}

.navbar .navContent .navConText1:hover {
    color: #EE6C4D;
}


.navbar .navContent .navConText:hover {
    transform: scale(1.1);
    color: #EE6C4D;
}

.navbar .navContent .btnnavbar {
    border: none;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    padding: 17px;
    min-width: 120px;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    margin: 0 20px;
    transition: 0.3s ease-in-out transform;
    cursor: pointer;
}

.navbar .navContent .btnnavbar:hover {
    transform: scale(1.1);
    color: #EE6C4D;
    /* box-shadow: 10px 10px 10px #d6d6d6; */
}



.profilePic{
    width: 100px;
    height: 100px;
    margin-right: 10%;
    cursor: pointer;
}

.profilePic .imgCon{
    width: 80px;
    height: 80px; 
    border-radius: 50%;
}

.profilePic .imgCon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profilePic .dropDown{
    display: none;
    position: absolute;
    width: 130px;
    background-color: #eaf4f4;
    margin: 1% 0;
    padding: 1%;
    right: 2%;
    line-height: 300%;
    border-radius: 10px; 
}