.reviewContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5%;

}

.reviewCard{
    margin: 1% 0;
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 2px solid #ced4da;
}

.reviewCard .profile{
    display: flex;
    align-items: center;
}
.reviewCard .profile .imgCon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;

}

.reviewCard .profile .imgCon img{
    height: 100%;
    width: 100%;
}
.reviewCard .profile .det{
    padding: 0 1%;

}

.reviewCard .profile #name{
    font-size: 17px;
}

.reviewCard .rating{
    padding: 1% 0 ;
}